<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">الصفحه الرئيسيه</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="Master.appSettings">الاعدادات العامه</a>
        </li>
    </ul>
</div>
<h3 class="page-title">الاعدادات العامه </h3>
<div>
    <form method="post" ng-submit="model.saveAppSettings()" name="appSettingsForm" ng-model="schoolForm" enctype="multipart/form-data">
        <div class="alert alert-success" ng-if="model.success != null">
            <button class="close" data-close="alert"></button>
            <span>{{model.success}}</span>
        </div>
        <div class="alert alert-danger" ng-if="model.error != null">
            <button class="close" data-close="alert"></button>
            <span>{{model.error}}</span>
        </div>
        <div class="row">
            <div class="col-md-8">
                <fieldset>
                    <legend>بيانات عامه :</legend>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label"> اسم الدوله</label>
                        <div class="col-sm-6">
                            <input type="text" name="country_name" class="form-control" ng-model="model.appSettingsObj.country_name" /> </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label"> اسم الوزاره </label>
                        <div class="col-sm-6">
                            <input type="text" name="ministry_name" class="form-control" ng-model="model.appSettingsObj.ministry_name" /> </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">شعار الوزاره</label>
                        <div class="col-sm-6">
                            <input type="file" ngf-select ng-model="model.appSettingsObj.ministry_logo" name="ministry_logo" id="file-upload-minstry" ng-change="model.uploadPhoto(model.appSettingsObj.ministry_logo , 'ministry_logo')" /> </div>
                        <div class="col-md-4">
                            <img src="../../uploads/{{model.appSettingsObj.ministry_logo}}" style="width:100%" /> </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">شعار الرؤيه</label>
                        <div class="col-sm-6">
                            <input type="file" ngf-select ng-model="model.appSettingsObj.vision_logo" name="vision_logo" id="file-upload-vision" ng-change="model.uploadPhoto(model.appSettingsObj.vision_logo , 'vision_logo')" /> </div>
                        <div class="col-md-4">
                            <img src="../../uploads/{{model.appSettingsObj.vision_logo}}" style="width:100%" /> </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label"> بدايه العام المالي </label>
                        <div class="col-sm-6">
                            <input type="text" name="start_f_year" calendarType="ummalqura" language="ar" date-format="YYYY-MM-DD" showOnFocus="true" kdatepicker class="form-control is-calendarPicker" placeholder="{{model.appSettingsObj.start_f_year | kdate: '' : 'ar' : 'ummalqura'}}"
                                ng-model="model.appSettingsObj.start_f_year" />
                            <b>{{model.appSettingsObj.start_f_year | kdate: '' : 'ar' : 'Gregorian'}}</b>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label"> نهايه العام المالي </label>
                        <div class="col-sm-6">
                            <input type="text" name="end_f_year" calendarType="ummalqura" language="ar" date-format="YYYY-MM-DD" showOnFocus="true" kdatepicker class="form-control is-calendarPicker" placeholder="{{model.appSettingsObj.end_f_year | kdate: '' : 'ar' : 'ummalqura'}}"
                                ng-model="model.appSettingsObj.end_f_year" />
                            <b>{{model.appSettingsObj.end_f_year | kdate: '' : 'ar' : 'Gregorian'}}</b>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend> اعلانات البرنامج في الصفحه الرئيسيه :</legend>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">الاعلان </label>
                        <div class="col-sm-10">
                            <div class="col-sm-12" simditor ng-model="model.appSettingsObj.marketing"></div>
                        </div>
                    </div>
                </fieldset>
                <button class="btn btn-primary" type="submit" ng-disabled="appSettingsForm.$invalid">حفظ</button>
                <button class="btn btn-danger">الغاء</button>
            </div>
        </div>
    </form>
</div>
<script>
</script>