<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">الصفحه الرئيسيه</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="Master.appSettings">الاعدادات التقويم</a>
        </li>
    </ul>
</div>
<h3 class="page-title">الاعدادات العامه </h3>
<div>
    <form method="post" ng-submit="model.saveAppSettings()" name="appSettingsForm" ng-model="schoolForm" enctype="multipart/form-data">
        <div class="alert alert-success" ng-if="model.success != null">
            <button class="close" data-close="alert"></button>
            <span>{{model.success}}</span>
        </div>
        <div class="alert alert-danger" ng-if="model.error != null">
            <button class="close" data-close="alert"></button>
            <span>{{model.error}}</span>
        </div>
        <div class="row">
            <div class="col-md-8">
                <fieldset>
                    <legend>العام الدراسي الحالي :</legend>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">بدايه العام الدراسي الحالي </label>
                        <div class="col-sm-6">
                            <input type="text" name="academic_start_date" calendarType="ummalqura" language="ar" date-format="YYYY-MM-DD" showOnFocus="true" kdatepicker class="form-control is-calendarPicker" placeholder="{{model.appSettingsObj.academic_start_date | kdate: '' : 'ar' : 'ummalqura'}}"
                                ng-model="model.appSettingsObj.academic_start_date" />
                            <b>{{model.appSettingsObj.academic_start_date | kdate: '' : 'ar' : 'Gregorian'}}</b>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">نهايه العام الدراسي الحالي </label>
                        <div class="col-sm-6">
                            <input type="text" name="academic_end_date" calendarType="ummalqura" language="ar" date-format="yyyy-MM-dd" showOnFocus="true" kdatepicker class="form-control is-calendarPicker" placeholder="{{model.appSettingsObj.academic_end_date | kdate: '' : 'ar' : 'ummalqura'}}"
                                ng-model="model.appSettingsObj.academic_end_date" />
                            <b>{{model.appSettingsObj.academic_end_date | kdate: '' : 'ar' : 'Gregorian'}}</b>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">الفصل الدراسي الحالي </label>
                        <div class="col-sm-6">
                            <label class="radio">
                                <input type="radio" name="active_term" ng-model="model.appSettingsObj.active_term" ng-value="'first'">الفصل الدراسي الاول</label>
                            <label class="radio">
                                <input type="radio" name="active_term" ng-model="model.appSettingsObj.active_term" ng-value="'second'">الفصل الدراسي الثاني</label>
                            <label class="radio">
                                <input type="radio" name="active_term" ng-model="model.appSettingsObj.active_term" ng-value="'summer'">الفصل الدراسي الصيفي</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend> الفصل الدراسي الاول :</legend>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">بدايه الفصل الدراسي الاول </label>
                        <div class="col-sm-6">
                            <input type="text" name="first_term_start_date" calendarType="ummalqura" language="ar" date-format="YYYY-MM-dd" showOnFocus="true" kdatepicker class="form-control is-calendarPicker" placeholder="{{model.appSettingsObj.first_term_start_date | kdate: '' : 'ar' : 'ummalqura'}}"
                                ng-model="model.appSettingsObj.first_term_start_date" />
                            <b>{{model.appSettingsObj.first_term_start_date | kdate: '' : 'ar' : 'Gregorian'}}</b>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">نهايه الفصل الدراسي الاول </label>
                        <div class="col-sm-6">
                            <input type="text" name="first_term_end_date" calendarType="ummalqura" language="ar" date-format="YYYY-MM-DD" showOnFocus="true" kdatepicker class="form-control is-calendarPicker" placeholder="{{model.appSettingsObj.first_term_end_date | kdate: '' : 'ar' : 'ummalqura'}}"
                                ng-model="model.appSettingsObj.first_term_end_date" />
                            <b>{{model.appSettingsObj.first_term_end_date | kdate: '' : 'ar' : 'Gregorian'}}</b>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend> الفصل الدراسي الثاني :</legend>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">بدايه الفصل الدراسي الثاني </label>
                        <div class="col-sm-6">
                            <input type="text" name="second_term_start_date" calendarType="ummalqura" language="ar" date-format="YYYY-MM-DD" showOnFocus="true" kdatepicker class="form-control is-calendarPicker" placeholder="{{model.appSettingsObj.second_term_start_date | kdate: '' : 'ar' : 'ummalqura'}}"
                                ng-model="model.appSettingsObj.second_term_start_date" />
                            <b>{{model.appSettingsObj.second_term_start_date | kdate: '' : 'ar' : 'Gregorian'}}</b>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">نهايه الفصل الدراسي الثاني </label>
                        <div class="col-sm-6">
                            <input type="text" name="second_term_end_date" calendarType="ummalqura" language="ar" date-format="YYYY-MM-DD" showOnFocus="true" kdatepicker class="form-control is-calendarPicker" placeholder="{{model.appSettingsObj.second_term_end_date | kdate: '' : 'ar' : 'ummalqura'}}"
                                ng-model="model.appSettingsObj.second_term_end_date" />
                            <b>{{model.appSettingsObj.second_term_end_date | kdate: '' : 'ar' : 'Gregorian'}}</b>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend> الفصل الدراسي الصيفي :</legend>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">بدايه الفصل الدراسي الصيفي </label>
                        <div class="col-sm-6">
                            <input type="text" id="popupDatePicker" name="summer_term_start_date" calendarType="ummalqura" language="ar" date-format="YYYY-MM-DD" showOnFocus="true" kdatepicker class="form-control is-calendarPicker" placeholder="{{model.appSettingsObj.summer_term_start_date | kdate: '' : 'ar' : 'ummalqura'}}"
                                ng-model="model.appSettingsObj.summer_term_start_date" />
                            <b>{{model.appSettingsObj.summer_term_start_date | kdate: '' : 'ar' : 'Gregorian'}}</b>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">نهايه الفصل الدراسي الصيفي </label>
                        <div class="col-sm-6">
                            <input type="text" name="summer_term_end_date" calendarType="ummalqura" language="ar" date-format="YYYY-MM-DD" showOnFocus="true" kdatepicker class="form-control is-calendarPicker" placeholder="{{model.appSettingsObj.summer_term_end_date | kdate: '' : 'ar' : 'ummalqura'}}"
                                ng-model="model.appSettingsObj.summer_term_end_date" />
                            <b>{{model.appSettingsObj.summer_term_end_date | kdate: '' : 'ar' : 'Gregorian'}}</b>
                        </div>
                    </div>
                </fieldset>
                <button class="btn btn-primary" type="submit" ng-disabled="appSettingsForm.$invalid">حفظ</button>
                <button class="btn btn-danger">الغاء</button>
            </div>
        </div>
    </form>
</div>
<script>
</script>