<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">الرئيسية</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">التقويم المدرسي</a>
        </li>
    </ul>
</div>
<div class="row" style="margin-top:15px">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-settings font-green"></i>
                    <span class="caption-subject font-green bold uppercase">التقويم المدرسي</span>
                    <span class="caption-helper hide">weekly stats...</span>
                </div>
            </div>
            <style>
                .weeks h4 {
                    text-align: center;
                    background: #0f8c7a;
                    padding: 10px;
                    color: white;
                }

                .weeks ul {
                    list-style: none;
                    padding-right: 0px;
                }

                .weeks ul li span {
                    display: inline-block;
                    padding: 2px;
                    background: gray;
                    color: white;
                    margin-left: 10px;
                    width: 50px;
                    text-align: center;
                }

                .weeks ul li p {
                    display: inline-block;
                    padding: 2px;
                    border: 1px solid gray;
                    margin-bottom: 0px;
                    width: 160px;
                    text-align: center;
                }
            </style>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group row ">
                                <label class="col-sm-2 control-label ">العام الدراسي</label>
                                <div class="col-sm-4 ">
                                    <input type="text " name="name " class="form-control date-picker " ng-model="model.Academic_Year " ng-change="model.getAttendanceBasedDate() " data-date-format="yyyy" data-date-viewmode="years" /> </div>
                            </div>
                            <div class="form-group row ">
                                <label class="col-sm-2 control-label ">الفصل الدراسي</label>
                                <div class="col-sm-4 ">
                                    <select class="form-control" ng-model="model.Term_Id">
                                        <option value="">اختر الفصل الدراسي</option>
                                        <option value="first">الفصل الدراسي الاول</option>
                                        <option value="second">الفصل الدراسي الثاني</option>
                                        <option value="summer">الفصل الدراسي الصيفي</option>
                                    </select>
                                </div>
                            </div>
                            <input type="button" ng-click="model.getCalender()" class="btn btn-primary" value="عرض التقويم" /> </form>
                    </div>
                    <div class="col-md-12"></div>
                </div>
                <div class="row">
                    <div class="weeks col-md-3" ng-repeat="week in weeks track by $index">
                        <h4 style="">الاسبوع {{week}}</h4>
                        <ul ng-repeat="calender2 in model.calender track by $index">
                            <li ng-if="week == calender2.Week_Name">
                                <span>{{calender2.Day }}</span>
                                <p>{{calender2.Date | kdate: '' : 'ar' : 'ummalqura'}} هـ</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>