<div class=" login">
    <!-- BEGIN LOGO -->
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <div class="logo">
            <a href="#">
                <img src="../assets/layouts/layout/img/logo.png" alt="" /> </a>
        </div>

        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="login-form"  method="post" ng-model="forgetForm">
            <h3 class="font-green">نسيت كلمه المرور</h3>
            <p> ادخل ايميلك لارسال كلمة مرور جديده </p>
            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="البريد الالكتروني" name="email" ng-model="model.email" required/> </div>

            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="اسم المستخدم" name="loginName" ng-model="model.loginName" required/> </div>
            <div class="form-actions">
                <button type="submit" class="btn green uppercase" ng-click="model.resetPassword()" ng-disabled="forgetForm.$invalid">ارسال</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
    </div>
    <div class="copyright"> 2014 © Metronic. Admin Dashboard Template. </div>
</div>