<div class=" login"> {{model}}
    <!-- BEGIN LOGO -->

    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->

        <div class="logo">
            <a href="index.html">
                <img src="../assets/layouts/layout/img/logo.png" alt="" /> </a>
        </div>

        <form class="login-form" method="post" name="loginForm" ng-model="loginForm">
            <h3 class="form-title font-green">تسجيل الدخول</h3>
            <div class="alert alert-danger" ng-if="model.error != null">
                <button class="close" data-close="alert"></button>
                <span>{{model.error}}</span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">اسم المستخدم</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="اسم المستخدم" name="username" ng-model="model.username" required/> </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">كلمة المرور </label>
                <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="كلمه المرور" name="password" ng-model="model.password" required/> </div>
            <div class="form-actions">
                <button type="submit" class="btn green uppercase" ng-click="model.onLogin()" ng-disabled="loginForm.$invalid">تسجيل الدخول</button>
                <!--<label class="rememberme check mt-checkbox mt-checkbox-outline">-->
                <!--&lt;!&ndash;<input type="checkbox" name="remember" value="1" />Remember&ndash;&gt;-->
                <!--<span></span>-->
                <!--</label>-->
                <!--<a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>-->
            </div>
        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="index.html" method="post">
            <h3 class="font-green">Forget Password ?</h3>
            <p> Enter your e-mail address below to reset your password. </p>
            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
    </div>
    <div class="copyright"> 2014 © Metronic. Admin Dashboard Template. </div>
</div>