<form ng-model="absentForm" method="post" ng-submit="AbsentRequest()" name="absentForm">
    <div class="modal-header">
        <h3 class="modal-title">الغياب بعذر </h3>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-sm-2 control-label">تاريخ بدايه الغياب </label>
            <div class="col-sm-6">
                <input type="text" name="name" class="form-control date-picker" ng-model="AbsentObj.Start_Date" /> </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label"> تاريخ نهايه الغياب </label>
            <div class="col-sm-6">
                <input type="text" name="name" class="form-control date-picker" ng-model="AbsentObj.End_Date" ng-change="absentDays()" /> </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label"> ايام الغياب </label>
            <div class="col-sm-6">
                <input type="text" name="name" class="form-control" ng-model="AbsentObj.No_Of_Days" ng-change="absentEndDay()" required /> </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label">
                <span style="color:red;font-family: sans-serif !important;"> * </span> نوع العذر </label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="AbsentObj.ExcuseType" required ng-options="excuseType.Id as excuseType.Name for excuseType in excuseTypes">

                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label"> اسباب الغياب </label>
            <div class="col-sm-6">
                <textarea ng-model="AbsentObj.notes" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="absentForm.$invalid">تأكيد</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">الغاء</button>
    </div>
</form>
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>