<form>
    <div class="modal-header">
        <h3 class="modal-title">تسجيل الخروج المبكر</h3>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-sm-3 control-label"> تسجيل الوقت </label>
            <div class="col-sm-6">
                <input type="text" ng-model="model.currentTime" class="form-control timepicker timepicker-no-seconds" /> </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="model.onSave()">تأكيد</button>
        <button class="btn btn-default" type="button" ng-click="model.onCancel()">الغاء</button>
    </div>
</form>
<script>
    ComponentsDateTimePickers.init(); // init todo page
</script>