<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">الصفحه الرئيسيه</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="Master.AddEditSchool">بيانات المدرسه </a>
        </li>
    </ul>
</div>
<h3 class="page-title"> بيانات المدرسه </h3>
<div>
    <form method="post" ng-submit="model.saveSchool()" name="schoolForm" ng-model="schoolForm" enctype="multipart/form-data">
        <div class="alert alert-success" ng-if="model.success != null">
            <button class="close" data-close="alert"></button>
            <span>{{model.success}}</span>
        </div>
        <div class="alert alert-danger" ng-if="model.error != null">
            <button class="close" data-close="alert"></button>
            <span>{{model.error}}</span>
        </div>
        <input type="hidden" name="schoolId" ng-model="model.schoolObj.schoolId" />
        <div class="row">
            <div class="col-md-8">
                <div class="form-group row">
                    <label class="col-sm-2 control-label">
                        <span style="color:red;font-family: sans-serif !important;"> * </span> اسم المدرسه</label>
                    <div class="col-sm-6">
                        <input type="text" name="name" class="form-control" ng-model="model.SchoolObj.name" required/> </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">
                        <span style="color:red;font-family: sans-serif !important;"> * </span>الرقم الاحصائي </label>
                    <div class="col-sm-6">
                        <input type="text" name="schoolNum" class="form-control" ng-model="model.SchoolObj.schoolNum" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">المنطقه التعليميه</label>
                    <div class="col-sm-6">
                        <input type="text" name="educationalRegion" class="form-control" ng-model="model.SchoolObj.educationalRegion" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">جنس المدرسه</label>
                    <div class="col-sm-6">
                        <input type="text" name="gender" class="form-control" ng-model="model.SchoolObj.gender" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">المرحله التعليميه</label>
                    <div class="col-sm-6">
                        <input type="text" name="educationLevel" class="form-control" ng-model="model.SchoolObj.educationLevel" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">المكتب</label>
                    <div class="col-sm-6">
                        <input type="text" name="educationalOffice" class="form-control" ng-model="model.SchoolObj.educationalOffice" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">العنوان</label>
                    <div class="col-sm-6">
                        <input type="text" name="address" class="form-control" ng-model="model.SchoolObj.address" /> </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">الهاتف</label>
                    <div class="col-sm-6">
                        <input type="text" name="phone" class="form-control" ng-model="model.SchoolObj.phone" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">البريد الالكتروني</label>
                    <div class="col-sm-6">
                        <input type="email" name="email" class="form-control" ng-model="model.SchoolObj.email" />
                        <span class="help-block" style="color:red" ng-show="schoolForm.email.$dirty && schoolForm.email.$invalid">الرجاء ادخال بريد الكتروني صحيح</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">مجموع الفصول</label>
                    <div class="col-sm-6">
                        <input type="text" name="totalClasses" class="form-control" ng-model="model.SchoolObj.totalClasses" numbersOnly/>
                    </div>
                    <span class="help-block" style="color:red" ng-show="schoolForm.totalClasses.$dirty && schoolForm.totalClasses.$invalid">الرجاء ادخال ارقام فقط</span>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">مجموع الطلاب</label>
                    <div class="col-sm-6">
                        <input type="text" name="totalStudents" class="form-control" ng-model="model.SchoolObj.totalStudents" numbersOnly/>
                    </div>
                    <span class="help-block" style="color:red" ng-show="schoolForm.totalStudents.$dirty && schoolForm.totalStudents.$invalid">الرجاء ادخال ارقام فقط</span>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">عدد الطاقم الاداري و التعليمي</label>
                    <div class="col-sm-6">
                        <input type="text" name="totalStaff" class="form-control" ng-model="model.SchoolObj.totalStaff" numbersOnly/>
                    </div>
                    <span class="help-block" style="color:red" ng-show="schoolForm.totalStaff.$dirty && schoolForm.totalStaff.$invalid">الرجاء ادخال ارقام فقط</span>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">سنه التأسيس</label>
                    <div class="col-sm-6">
                        <input type="text" name="foundationYear" class="form-control" ng-model="model.SchoolObj.foundationYear" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">عدد المباني المستأجره</label>
                    <div class="col-sm-6">
                        <input type="text" name="rentedBuildings" class="form-control" ng-model="model.SchoolObj.rentedBuildings" numbersOnly/>
                    </div>
                    <span class="help-block" style="color:red" ng-show="schoolForm.rentedBuildings.$dirty && schoolForm.rentedBuildings.$invalid">الرجاء ادخال ارقام فقط</span>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">عدد المباني المستأجره</label>
                    <div class="col-sm-6">
                        <input type="text" name="governmentBuildings" class="form-control" ng-model="model.SchoolObj.governmentBuildings" numbersOnly/>
                    </div>
                    <span class="help-block" style="color:red" ng-show="schoolForm.governmentBuildings.$dirty && schoolForm.governmentBuildings.$invalid">الرجاء ادخال ارقام فقط</span>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">شعار المدرسة </label>
                    <div class="col-sm-6">
                        <input type="file" ngf-select ng-model="model.SchoolObj.logoFile" name="logoFile" id="file-upload" />
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" ng-disabled="schoolForm.$invalid">حفظ</button>
                <button class="btn btn-danger">الغاء</button>
            </div>
        </div>
    </form>
</div>