<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="dashboard">الرئيسية</a>
            <i class="fa fa-angle-left"></i>
        </li>
        <li>
            <a ui-sref="datatablesmanaged">ادارة الموظفين</a>
        </li>
    </ul>
</div>
<h3 class="page-title"> ادارة الموظفين </h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-graduation font-dark"></i>
                    <span class="caption-subject bold uppercase"> الموظفين</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a ui-sref="Master.AddEditEmployee({schoolId:{{model.schoolId}}})" id="sample_editable_1_new" class="btn sbold green">
                                    <i class="fa fa-plus"></i> جديد </a>
                            </div>
                            <div class="btn-group">
                                <label for="file-upload" class="btn sbold red">
                                    <i class="fa fa-cloud-upload"></i> استيراد بيانات الموظفين</label>
                                <input type="file" ngf-select ng-model="file" name="file" ng-change="model.doUpload()" id="file-upload" style="display:none" /> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">ادوات مساعدة
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-print"></i> طباعة </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-pdf-o"></i> حفظ كـ PDF </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-excel-o"></i> تصدير لـ Excel </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                    <span></span>
                                </label>
                            </th>
                            <th> الاسم </th>
                            <th>الرقم الوظيفي</th>
                            <th> العنوان</th>
                            <th> رقم الهاتف</th>
                            <th> رقم الجوال</th>
                            <th> البريد الالكتروني </th>
                            <th> العمليات</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="employee in employees">
                            <td>
                                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                    <input type="checkbox" class="checkboxes" value="1" />
                                    <span></span>
                                </label>
                            </td>
                            <td> {{employee.name}}</td>
                            <td> {{employee.job_no}}</td>
                            <td> {{employee.address}}</td>
                            <td> {{employee.phone1}}</td>
                            <td> {{employee.mobile}}</td>
                            <td> {{employee.email}}</td>
                            <td>
                                <div class="btn-group dropdown">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> العمليات
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a ui-sref="Master.AddEditEmployee({empId:'{{employee.id}}',schoolId:'{{employee.school_id}}' })">
                                                <i class="icon-pencil"></i>&nbsp; تعديل </a>
                                        </li>
                                        <li ng-if="employee.is_active != 1">
                                            <a href="javascript:;" ng-click="model.ActivateEmployee(employee.id)">
                                                <i class="fa fa-user-plus"></i> تفعيل </a>
                                        </li>
                                        <li ng-if="employee.is_active == 1">
                                            <a href="javascript:;" ng-click="model.DeActivateEmployee(employee.id)">
                                                <i class="fa fa-user-times"></i>&nbsp; الغاء التفعيل </a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="javascript:;" ng-confirm-click="هل تريد تأكيد حذف الموظف ؟  " confirmed-click="model.deleteEmp(employee.id)">
                                                <i class="fa fa-trash"></i>&nbsp; حذف </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
    TableDatatablesManaged.init();
</script>
<!-- END MAIN JS -->