<div class="row">
    <div class="col-md-5">
        اسم النموذج :تنبيه على تأخر /انصراف
    </div>
    <div class="col-md-3">
        رمز النموذج (و.م.ع.ن -20 - 20)
    </div>
</div>

<div class="row m-top">
    <div class="col-md-9">
        <table class="table table-bordered actions-table">
            <tbody>
            <tr>
                <td style="width:13%;color:white;background-color:rgb(103,138,111)"> المدرسه</td>
                <td>{school_name}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <table class="table table-bordered actions-table">
            <tbody>
            <tr>
                <td>السجل المدني</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-9 ">
        <table class="table table-bordered actions-table">
            <thead class="header-bg-color">
            <tr>
                <th>الاسم</th>
                <th>التخصص</th>
                <th>المستوى/المرتبة</th>
                <th>رقم الوظيفة</th>
                <th>العمل الحالي</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{teacher_name}</td>
                <td>{major_name}</td>
                <td>{level}</td>
                <td>{job_num}</td>
                <td>{positon}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
