<div class="row">
    <div class="col-md-2">المكرم مدير المدرسه /</div>
    <div class="col-md-3">{school_manager}</div>
    <div class="col-md-1">وفقه الله</div>
    <div class="col-md-9">
        <p>افيدكم ان الاسباب ما يلي </p>
        <p>{reasons}</p>
        <p>الاسم <span style="padding:0px 10px">{teacher_name}</span>
            التوقيع <span style="padding: 0px 10px">{teacher_signature}</span>
            التاريخ <span style="padding: 0px 10px">{Date}</span>
        </p>
    </div>

</div>